.page--details {
    flex: 1;
    max-width: 750px;
}

.page--description {
    margin-bottom: 40px;
    font-size: 1.4rem;
}


@media screen and (min-width: 992px) {
    .page--details {
        margin-right: 48px;
    }

    .page--description p:first-child {
        margin-bottom: 0;
    }
}