

.color-sup{
    color: #E5992C
}

.titulo{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 7vh;
    color: #481717;
}

.negrita{
    font-weight: bold;
    text-align: center;
}

.grid-container{
    gap: 14px ;
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 700px));
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.grid-container .our {
    padding: 20px;
}

.grid-container .histori{
    margin-top: 48px;
}