@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.bodyMS {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

.bodyMS .contTitle{
    width: 80%;
    margin-bottom: 30px;
}

.bodyMS .contTitle h2{
    font-size: 70px;
}

.containerMS{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cardMS{
    width: 150px;
    margin: 20px;
}

.cardMS h4{
    margin-bottom: 15px;
    font-size: 20px;
}

.cardMS ul{
    padding-left: 0.8rem;
}

.cardMS ul li{
    list-style: none;
    margin-bottom: 10px;
}

.cardMS .link{
    text-decoration: none;
    color: black;
}
