/* Ventana modal */
.containerModal{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modalCloseC{
    opacity: 0;
    visibility: hidden;
}

.modalOpen{
    opacity: 1;
    visibility: visible;
}

.ventanaModalP{
    position: relative;
    padding-top: 30px;
    background: linear-gradient(rgb(116, 75, 1), rgb(99, 1, 1));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    width: 70%;
    height: 90vh;
    border-radius: 10px;
    overflow: hidden;
}

.BotonCerrar{
    width: 100%;
    height: 10px;
}

.mondalDatos{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
}


.mondalDatos::-webkit-scrollbar{
    width: 12px;
}

.mondalDatos::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #00c6ff);
    border-radius: 6px;
}

.modal{
    height: 72vh;
    background: #fff;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.form{
    /*margin: auto;*/
    background-color: #fff;
    width: 100%;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    border: none;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.close:hover{
    box-shadow: 0px 0px 10px rgba(167, 5, 5, 0.692);
    background: #af6868;
}

.modal-close{
    transform: translateY(-200%);
}

.contImgP{
    margin-top: 40px;
    margin-bottom: 5px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    border-top-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgP{
    width: 100%;    
    margin-top: 10px;
}

.descP{
    margin-top: 10px;
}

.contButton{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: -2em;
}

.addCarrito{
    background: beige;
    border: 1px solid orange;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addCarrito ion-icon{
    font-size: 25px;
}

.addCarrito:hover {
    background: orange;
    border: 1px solid beige;
    width: 47px;
    height: 47px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}

/* Prueba */

.form .i{
    position: absolute;
    text-align: left;
    font-size: 2rem;
    padding: 8px;
    padding-left: 20px;
    color: rgb(44, 42, 42);
    /*top: 30px;*/
    /*left: 0;*/
    width: 280px;
    height: 50px;
    background: #c97028;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.692);
}

.contBM{
    margin: 10px;
    width: 93%;
    max-width: 400px;
}

/* Botones */
.buttonModal{
    position: relative;
    width: 170px;
    top: -26px;
    left: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.abrirComentarios{
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: blue;
    background: azure;
    border: 1px solid blue;
    margin-right: 5px;    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.abrirComentarios:hover{
    color: azure;
    background:  blue;
    border: 1px solid azure;
}

/* Comentarios */

.comentariosM{
    margin: 10px;
    margin-bottom: 50px;
    width: 93%;
    max-width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comentariosU{
    margin-top: -30px;
    width: 370px;
    height: 400px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    margin-bottom: 15px;
    background: #af43f1;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comentariosU::before{
    content: '';
    position: absolute;
    bottom: 61px;
    width: 15px;
    height: 30px;
    right: 15px;
    background: linear-gradient(45deg, #4d1c6a, black);/*#8547d1*/
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.733);
    border: 1px solid #a944e9;
    border-left: none;
    border-bottom: none;
    z-index: 2;
}

.comentariosU::after{
    content: '';
    position: absolute;
    bottom: 76px;
    right: 15px;
    width: 15px;
    height: 15px;
    background: #af43f1;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.548);
    z-index: 1;
}

.comentarioList{
    width: 340px;
    height: 300px;
    background: #fff;
    box-shadow: 0px 5px 8px rgba(151, 118, 230, 0.705);
    border-radius: 10px;
    display: list-item;
    padding-left: 5px;
    padding-bottom: 5px;    
    overflow: hidden;
    overflow-y: scroll;
} 

.comentarioList::-webkit-scrollbar{
    width: 10px;
}

.comentarioList::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #ff0d0d);
    border-radius: 6px;
}

.ingresarComent{
    width: 370px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: -30px;
    bottom: 2px;
}

.ingresarComent .fIngresarC{
    width: 250px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(22, 21, 21);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.637);
}

.ingresarComent input::placeholder{
    color: rgba(102, 46, 46, 0.815);
}

.ingresarComent .bIngresarC{
    margin-left: 6px;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px 0px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.671);
}

.ingresarComent .bIngresarC:hover{
    box-shadow: 0px 0px 12px rgb(4, 33, 87);
    background: #00aeff;
    color: #fff;
    border: none;
}

/* Media */

@media (max-width: 612px) {
    .ventanaModalP{
        width: 95%;
    }

    .modal{
        padding-top: 13px;
        height: 68vh;
    }

    .contBM{
        width: 95%;
        margin-top: 0px;
    }

    .buttonModal{
        top: -25px;
        left: 15px;
    }

    .comentariosM{
        padding-top: 45px;
        width: 95%;
    }

    .form .i{
        width: 250px;
    }

    .comentariosU, .ingresarComent{
        width: 300px;        
    }

    .comentariosU{
        margin-top: 10px;
        border-bottom-right-radius: 10px;
    }

    .comentariosU::before{
        visibility: hidden;
    }
    
    .comentariosU::after{
        visibility: hidden;
    }

    .comentarioList{
        margin: 10px 0px;
        width: 350px;
    }

    .ingresarComent .fIngresarC{
        width: 200px;
    }

}

@media (max-width: 650px){
    .comentariosU{
        margin-top: 0;
        border-bottom-right-radius: 10px;
    }

    .comentariosU::before{
        visibility: hidden;
    }
    
    .comentariosU::after{
        visibility: hidden;
    }

    .comentarioList{
        margin: 10px 0px;
        width: 350px;
    }

}

@media (max-height: 600px) {
    .modal{
        overflow-y: scroll;
    }

    .contImgP{
        margin-top: 140px;
    }

    .i, .tituloP{
        margin-top: 100px;
    }

    .comentariosU{
        border-bottom-right-radius: 10px;
    }

    .comentariosU::before{
        visibility: hidden;
    }
    
    .comentariosU::after{
        visibility: hidden;
    }

    .comentarioList{
        height: 250px;
        margin: 15px 0px;
    }

}