.footer-section {
    background-color: var(--vinotinto);
    color: var(--white);
}

.footer-section .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section ul {
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

.footer-section--logo,
.footer-section--map {
    display: none;
    max-width: 200px;
}

.footer-credentials {
    width: 100%;
    max-width: 720px;
}

.footer-credentials--nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.footer-credentials--nav a {
    display: inline-block;
    height: 30px;
    margin: 5px 10px;
    margin-left: 0;
    color: var(--white);
}

.footer-credentials--nav a:hover {
    border-bottom: 1px solid var(--white);
}

.footer-credentials--data {
    font-size: 1.4rem;
}
.footer-credentials--data .copyright {
    font-size: 1.2rem;
    margin-bottom: 0;
}


@media (min-width: 570px) {
    .footer-section--logo {
        display: block;
        margin-bottom: 20px;
    }

    .footer-credentials--nav ul {
        justify-content: space-between;
    }
    .footer-credentials--nav ul a {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .footer-section .wrapper {
        flex-direction: row;
    }

    .footer-credentials {
        width: 40%;
        margin: 0 auto;
    }

    .footer-section--logo {
        margin: 0 auto;
    }

    .footer-credentials--nav ul {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .footer-credentials--nav ul a {
        margin-right: 20px;
    }
}

@media (min-width: 992px) {
    .footer-section--map {
        flex: 1;
        display: block;
    }
}