html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px, 1.6rem = 16px ...*/
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
}