.session {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 0 30px;
    color: var(--white);
    background: linear-gradient(var(--orange), var(--vinotinto));
}

.main-not-found__code {
    margin: 0 auto;
    font-size: 10rem;
    animation: pulse 2.5s infinite both;
}

@keyframes pulse {
    0% {
        transform: rotate(0);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    20%, 60% {
        transform: rotate(80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    40% {
        transform: rotate(60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    80% { opacity: 0.5; }
    100% {
        transform: translateY(400px);
        opacity: 0;
    }
}


/* Media Queries */
@media only screen and (max-width: 600px) {
    @keyframes pulse {
        0% {
            transform: rotate(0);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }
        20%, 60% {
            transform: rotate(80deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }
        40% {
            transform: rotate(60deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
        }
        80% { opacity: 0.5; }
        100% {
            transform: translateY(250px);
            opacity: 0;
        }
    }
}